CalculatriceWebTomcat/WebContent/wsdl/calculatriceimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalculatriceService" targetNamespace="http://localhost:9000/CalculatriceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:9000/CalculatriceService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://localhost:9000/CalculatriceService" schemaLocation="calculatriceimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="AddResponse">
    <wsdl:part name="parameters" element="tns:ResponseEnvelope">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="diviser">
    <wsdl:part name="parameters" element="tns:diviser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soustraire">
    <wsdl:part name="parameters" element="tns:soustraire">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="diviserResponse">
    <wsdl:part name="parameters" element="tns:diviserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplier">
    <wsdl:part name="parameters" element="tns:multiplier">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Add">
    <wsdl:part name="parameters" element="tns:RequestEnvelope">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soustraireResponse">
    <wsdl:part name="parameters" element="tns:soustraireResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplierResponse">
    <wsdl:part name="parameters" element="tns:multiplierResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatriceContrat">
    <wsdl:operation name="diviser">
      <wsdl:input name="diviser" message="tns:diviser">
    </wsdl:input>
      <wsdl:output name="diviserResponse" message="tns:diviserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soustraire">
      <wsdl:input name="soustraire" message="tns:soustraire">
    </wsdl:input>
      <wsdl:output name="soustraireResponse" message="tns:soustraireResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplier">
      <wsdl:input name="multiplier" message="tns:multiplier">
    </wsdl:input>
      <wsdl:output name="multiplierResponse" message="tns:multiplierResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input name="Add" message="tns:Add">
    </wsdl:input>
      <wsdl:output name="AddResponse" message="tns:AddResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatriceServiceSoapBinding" type="tns:CalculatriceContrat">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="diviser">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="diviser">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="diviserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soustraire">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="soustraire">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soustraireResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplier">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="multiplier">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplierResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="urn:ADD" style="document"/>
      <wsdl:input name="Add">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatriceService">
    <wsdl:port name="CalculatriceServicePort" binding="tns:CalculatriceServiceSoapBinding">
      <soap12:address location="http://localhost:8080/CalculatriceWebTomcat/services/CalculatriceServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
